.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, .8);
  z-index: 999;
  left: 0;
  bottom: 0;
  overflow: auto;

  &__container {
    background: white;
    padding: 1em 2em;
    border-radius: 10px;
    margin-top: 10%;
    position: relative;

    &.small {
      width: 20%;
    }
  }
}

.modal__close {
  background: transparent;
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 0;
  border: none;
  svg {
    width: 10px;
    height: 10px;
    fill: #464646;
  }
}

.modal__title {
  color: $color-secundary;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.modal__list {
  margin-top: 1em;

  li {
    display: grid;
    grid-template-columns: 1.2fr 6fr;
    align-items: center;

    svg {
      max-width: 25px;
      max-height: 25px;
      fill: $color-secundary;
      margin-right: 2em;
    }

    p {
      margin: 0;
      font-weight: bold;
      color: $color-secundary;
    }
  }
}
