@import "imports/variables";
@import "imports/helpers";
@import "imports/navbar";
@import "imports/breadcrumbs";

body, html {
  min-height: 100vh;
  background: #fff;
  color: $text-color-primary;
}

#root {
  height: 100%;
}

.container{
  max-width: 1360px;
}